<app-menu></app-menu>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Compras
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home" style="color:black"><b>Home</b></a></li>
            <li class="breadcrumb-item active">Compras</li>
        </ol>

        <!-- Blog Post -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-striped">
                            <thead>
                                <tr class="table-dark">
                                    <th scope="col">No. de Orden</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let orden of ordenes">
                                    <td>{{orden.numero}}</td>
                                    <td>{{orden.fecha_creacion}}</td>
                                    <td>{{orden.total}}</td>
                                    <td><button (click)="verDetalle(orden.id_orden)"
                                            class="btn btn-warning">Ver Detalle</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>

</body>

<app-footer></app-footer>