<app-menu></app-menu>

<body>
    <div class="container">
        <h1 class="mt-4 mb-3">
            Productos
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a style="color:black;" routerLink="/producto"><b>Home</b></a></li>
            <li class="breadcrumb-item active">Ver Productos</li>
        </ol>

        <hr>
        <div class="row align-items-center">
            <div class="col-3">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    data-bs-whatever="@mdo"><i class="bi bi-plus-circle"></i></button>&nbsp;
                <button class="btn btn-warning" (click)="asc()"><i class="bi bi-sort-up"></i></button>&nbsp;
                <button class="btn btn-warning" (click)="desc()"><i class="bi bi-sort-down"></i></button>
            </div>
            <div class="col-4">
                <input type="hidden">
            </div>
            <div class="col-5">
                <div class="d-flex">
                    <input class="form-control me-2" type="search" style="width: 185px;" placeholder="Buscar por nombre"
                        aria-label="Search" [(ngModel)]="terminoBusqueda">
                    <button class="btn btn-warning d-none d-md-inline-block " type="submit"><i
                            class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
        <br />
        <table class="table table-striped">
            <thead>
                <tr class="table-dark">
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <!-- <th>Inventario</th> -->
                    <th>Precio</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of getProductosFiltrados()">
                    <td>{{producto.id}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.descripcion}}</td>
                    <!-- <td>{{producto.cantidad}}</td> -->
                    <td>{{producto.precio}}</td>
                    <td>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#modalEditar"
                            (click)="abrirModalEditar(producto.id, producto.nombre, producto.descripcion, producto.cantidad, producto.precio,
                            producto.id_categoria, producto.imagen, producto.id_usuario)"><i
                                class="bi bi-pencil-square"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="alertaBefDelete(producto.id)"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Model REGISTRAR -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Producto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="myForm" [formGroup]="myForm" ngNativeValidate>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Nombre:</label>
                            <input type="text" name="nom" id="nom" class="form-control" placeholder="Ingrese nombre"
                                formControlName="nombre">
                        </div>

                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Categoria:</label>
                            <select #mySelect id="mySelect" class="form-select" formControlName="categoria" required
                                aria-label="Default select example" (change)="onSelectChange($event)">
                                <option value="" disabled selected>Selecciona una categoria</option>
                                <option *ngFor="let option of options" [value]="option.value">{{option.text}}</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Descripción:</label>
                            <textarea class="form-control" name="desc" id="desc" placeholder="Ingrese descripción"
                                formControlName="descripcion"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Cantidad: </label>
                            <input type="number" name="cant" id="cant" class="form-control" formControlName="cantidad"
                                placeholder="Ingrese cantidad">
                        </div>

                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Precio:</label>
                            <input type="number" name="prec" id="prec" class="form-control" formControlName="precio"
                                placeholder="Ingrese precio">
                        </div>

                        <div class="mb-3">
                            <label for="formFile" class="form-label">Imagen:</label>
                            <input class="form-control" type="file" id="formFile" accept=".png, .jpg"
                                (change)="onFileSelected($event)" formControlName="imagen">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning" [disabled]="!myForm.valid || !subido"
                    (click)="registrar()">Registrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Model EDITAR/ACTUALIZAR -->
    <div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Producto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="myFormAct" [formGroup]="myFormAct" ngNativeValidate>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Nombre:</label>
                            <input type="text" name="nom" id="nom" class="form-control" placeholder="Ingrese nombre"
                                formControlName="nombre"  [(ngModel)]="nombre" value="{{this.actualizarProducto.nombre}}">
                        </div>

                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Categoria:</label>
                            <select #mySelect1 id="mySelect1" class="form-select" formControlName="categoria" required
                                aria-label="Default select example" [(ngModel)]="id_categoria" (change)="onSelectChange($event)">
                                <option value="" disabled selected>Selecciona una categoria</option>
                                <option *ngFor="let option1 of options" [value]="option1.value">{{option1.text}}</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Descripción:</label>
                            <textarea class="form-control" name="desc" id="desc" placeholder="Ingrese descripción"
                                formControlName="descripcion"  [(ngModel)]="descripcion" value="{{this.actualizarProducto.descripcion}}"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Cantidad: </label>
                            <input type="number" name="cant" id="cant" class="form-control" formControlName="cantidad"
                                placeholder="Ingrese cantidad"  [(ngModel)]="cantidad" value="{{this.actualizarProducto.cantidad}}">
                        </div>

                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Precio:</label>
                            <input type="number" name="prec" id="prec" class="form-control" formControlName="precio"
                                placeholder="Ingrese precio"  [(ngModel)]="precio" value="{{this.actualizarProducto.precio}}">
                        </div>

                        <div class="mb-3">
                            <label for="formFile" class="form-label">Imagen:</label>
                            <input class="form-control" type="file" id="formFile" accept=".png, .jpg"
                                (change)="onFileSelected($event)" formControlName="imagen">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning" [disabled]="!myFormAct.valid || !subido"
                        (click)="actualizar()">Registrar</button>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</body>
<app-footer></app-footer>