<app-menu></app-menu>

<body>

    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Usuarios
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home" style="color:black;font-weight: bold;">Home</a></li>
            <li class="breadcrumb-item active">Ver Usuarios</li>
        </ol>
        <table class="table table-striped">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Dirección</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr th:each="usuario: ${usuarios}">
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.email}"></td>
                    <td th:text="${usuario.direccion}"></td>
                </tr> -->
            </tbody>
        </table>

    </div>
    <br /><br /><br />
</body>
<app-footer></app-footer>