<app-menu></app-menu>

<body>
    <div class="container">
        <h1 class="mt-4 mb-3">
            Categorías
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/productos}">Home</a></li>
            <li class="breadcrumb-item active">Ver Categorías</li>
        </ol>
        <hr>
        <div class="row align-items-center">
            <div class="col-3">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    data-bs-whatever="@mdo"><i class="bi bi-plus-circle"></i></button>&nbsp;
                <button class="btn btn-warning" (click)="asc()"><i class="bi bi-sort-up"></i></button>&nbsp;
                <button class="btn btn-warning" (click)="desc()"><i class="bi bi-sort-down"></i></button>

            </div>
            <div class="col-4">
                <input type="hidden">
            </div>
            <div class="col-5">
                <div class="d-flex">
                    <input class="form-control me-2" type="search" style="width: 185px;" placeholder="Buscar por nombre"
                        aria-label="Search" [(ngModel)]="terminoBusqueda">
                    <button class="btn btn-warning d-none d-md-inline-block " type="submit"><i
                            class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
        <br />

        <table class="table table-striped">
            <thead>
                <tr class="table-dark">
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categoria of getCategoriasFiltradas()">
                    <td>{{categoria.id_categoria}}</td>
                    <td>{{categoria.nombre}}</td>

                    <td>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#modalEditar" (click)="abrirModalEditar(categoria.id_categoria, categoria.nombre)"><i
                                class="bi bi-pencil-square"></i></button>
                    </td>
                    <td>
                        <a onclick="return Eliminar(this)" th:href="@{/categoria/eliminar(id=${categoria.id})}"
                            class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


    <!-- Model REGISTRAR -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Categoria</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="myForm" [formGroup]="myForm" ngNativeValidate>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Nombre:</label>
                            <input type="text" name="nom" id="nom" class="form-control" formControlName="nombre"
                                placeholder="Ingrese nombre">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning" [disabled]="!myForm.valid"
                        (click)="registrar()">Registrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Model EDITAR/ACTUALIZAR -->
    <div class="modal fade" #modalEditar id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Categoria</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="myForm" [formGroup]="myForm" ngNativeValidate>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Nombre:</label>
                            <input type="text" name="nom" id="nom" class="form-control" formControlName="nombre"
                                value="{{this.Categoria.nombre}}">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning" [disabled]="!myForm.valid"
                        (click)="actualizar()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>